<div class="container">
  <div class="jumbotron text-center">
      <h1><i class="fas fa-user-shield fa-3x"></i>  {{msg}}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" id="show-users" class="btn btn-primary btn-lg btn-block"> Show Registered Users </button>
      <ul id="user-list" class="list-group">
        {{#each user}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="user/{{this.id}}">{{this.name}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add a User!</button>
      <br>
      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="user-name">Name</label>
          <input
            type="text"
            id="user-name" 
            class="form-control" 
            placeholder="Enter Your Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="user-email"
            name="email"
            class="form-control" 
            placeholder="Enter Your Email">
        </div>
        <div class="form-group">
          <label for="user-password">Password</label>
          <input 
            type="password" 
            id="user-password" 
            class="form-control" 
            placeholder="Enter User Password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input 
            type="password" 
            id="confirm-password" 
            class="form-control" 
            placeholder="Confirm Password">
        </div>
        <button id="userSubmit" class="btn btn-primary float-left">Submit</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/user.js"></script>
