<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">HSS</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/dashboard" class="nav-item nav-link">Device Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Users</a>
                <div class="dropdown-menu">
                  <a href="/register" class="dropdown-item">Register</a>
                  <a href="/login" class="dropdown-item">Login</a>
                  <a href="/welcome" class="dropdown-item">Help</a>
                </div>
            </div>
        </div>
        <form class="form-inline">
            <div class="input-group">                    
                <input type="text" class="form-control" placeholder="Search for Devices">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="navbar-nav">
          <a href="/admin" class="nav-item nav-link">Admin Login</a>
        </div>
    </div>
  </nav>



<div class="container">
  <div class="jumbotron text-center">
      <h1><i class="fas fa-user-shield fa-3x"></i>  {{msg}}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">      
      <button type="button" class="btn btn-primary btn-lg btn-block">Add a device!</button>
      <br>
      <form class="clearfix mb-4">
        <div class="form-group">
          <label for="device-text">Device Name</label>
          <input type="text" id="device-name" class="form-control" aria-describedby="device-name" placeholder="Enter Device Name">
        </div>
        <div class="form-group">
          <label for="device-description">Device Description</label>
          <textarea class="form-control" id="device-description" aria-describedby="device-description" placeholder="Enter Device Description"></textarea>
        </div>
        <button id="deviceSubmit" class="btn btn-primary float-left">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <button type="button" id="show-devices" class="btn btn-primary btn-lg btn-block"> Show Active Devices </button>
      <ul id="device-list" class="list-group">
        {{#each devices}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="device/{{this.id}}">{{this.name}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>