<div id="home">  
  
  <div class="container">
    <div class="row">
        <div class="col-6 offset-2">
            <img src="/img/smart-locks.jpg" alt="Smart Lock">
        </div>
        <div class="col-6 offset-2">
            <img src="/img/touch-screen-alarm.jpg" alt="Touch Screen Alarm System">
        </div>
    </div>
  </div>
</div>


