<div id="home">  
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="str" style="font-weight: bold"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="contents-r1-c1">

        <img src="/img/smart-locks.jpg" alt="Smart Lock" style="height:700px;border:0">          
        </div>
      </div>
      <div class="col-md-6">
        <div class="contents-r1-c2">

        <img src="/img/touch-screen-alarm.jpg" alt="Touch Screen Alarm System" style="height:700px;border:0">
        </div>
      </div>
    </div>
  </div>
</div>


