<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> {{msg}}
      </h1>
      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="user-name">Name</label>
          <input
            type="text"
            id="user-name" 
            class="form-control" 
            placeholder="Enter Your Name">
        </div>
        <div class="form-group">
          <label for="user-email">Email</label>
          <input 
            type="text" 
            id="user-email" 
            class="form-control" 
            placeholder="Enter Your Email">
        </div>
        <div class="form-group">
          <label for="user-password">Password</label>
          <input 
            type="text" 
            id="user-password" 
            class="form-control" 
            placeholder="Enter User Password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input 
            type="text" 
            id="confirm-password" 
            class="form-control" 
            placeholder="Confirm Password">
        </div>
        
        <button id="userSubmit" class="btn btn-primary float-left">Register</button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/user.js"></script>