#str {
  color: black;
  font-size: 75px;
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}

#home {
  color: whitesmoke;
}

.contents-r1-c1 {  
  margin-left:-400px;
  height: 800px;
  margin-top: -5px;
  padding: 5px;
}

.contents-r1-c2 {  
  margin-left:220px;
  height: 800px;
  margin-top: -5px;
  padding: 5px;
}